body{
    padding: 100px;
    background-color: linen;
}
.bank-logo{
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}
.submit-area{
    margin-top: 40px;
    padding: 60px;
    border-radius: 20px;
    box-shadow: 10px 10px 20px gray;
    background-color: white;
}
#transaction-area{
    display: none;
}
.status{
    margin: 0 30px;
    color: white;
    padding: 20px;
    border-radius: 10px;
}
.deposit{
    background-color: blue;
}
.withdraw{
    background-color: lightsalmon;
}
.balance{
    background-color: orange;
}
.bank-footer{
    padding-top: 10%;
}